<header id="sec1" class="">
    <div class="header__top">
        <img src="/images/image-intro-desktop.jpg" alt="" />
    </div>
    <div
        class="header__bottom relative text-white bg-[#2D2641] flex flex-col items-center justify-center py-20 px-5 gap-7 font-thin"
    >
        <h2 class="text-5xl text-center">Humanizing your insurance.</h2>
        <p class="text-white/70 leading-[2]">
            Get your life insurance coverage eaiser and faster. We blend our
            expertise and technology to help you find the plan that's right for
            you. Ensure you and your loved ones are protected.
        </p>
        <a
            href="#"
            class="border-2 border-white w-37 h-11 flex justify-center font-normal items-center"
            >view plans</a
        >

        <img
            src="/images/bg-pattern-intro-left-mobile.svg"
            class="absolute top-0 left-0"
            alt=""
        />
        <img
            src="/images/bg-pattern-intro-right-mobile.svg"
            class="absolute right-0 top-80"
            alt=""
        />
    </div>
</header>
