<nav
    class="flex flex-row items-center justify-between px-5 h-14 fixed w-screen top-0 bg-amber-50 z-40"
>
    <span class="text-3xl capitalize font-thin">insure</span>
    <button>
        <img src="images/icon-hamburger.svg" alt="" />
    </button>
</nav>
