<section class="bg-amber-50 flex flex-col items-center justify-between pb-30">
    <div
        class="section__top flex flex-col py-30 px-5
    items-center justify-center"
    >
        <div class="top__divider border border-black/50 w-40"></div>
        <h3 class="text-5xl font-thin my-7 mb-17">We´re different</h3>

        <div class="section-item flex flex-col items-center justify-center">
            <img class="mb-7" src="/images/icon-snappy-process.svg" alt="" />
            <h3 class="font-thin text-2xl mb-5">Snappy Process</h3>
            <p class="text-center mb-10 text-black/50 font-medium">
                Our application proccess can be completed in minutes, not hours.
                Don't get stuck filling in tedious forms
            </p>
        </div>
        <div class="section-item flex flex-col items-center justify-center">
            <img class="mb-7" src="/images/icon-affordable-prices.svg" alt="" />
            <h3 class="font-thin text-2xl mb-5">Affordable Prices</h3>
            <p class="text-center mb-10 text-black/50 font-medium">
                We don't want your worrying about high monthly costs. Our prices
                may be low, but we still offer the best coverage possible.
            </p>
        </div>
        <div class="section-item flex flex-col items-center justify-center">
            <img class="mb-7" src="/images/icon-people-first.svg" alt="" />
            <h3 class="font-thin text-2xl mb-5">People First</h3>
            <p class="text-center mb-10 text-black/50 font-medium">
                Our plans aren't full of conditions and clauses to prevent
                payouts. We make sure you're covered when you need it.
            </p>
        </div>
    </div>
    <div class="section__bottom">
        <div
            class="bottom__div bg-[#2D2641] h-85 w-85 relative flex flex-col
            items-center justify-center text-white px-5"
        >
            <h3 class="font-semibold text-4xl text-center mb-7">
                Find out more about how we work
            </h3>
            <a
                href="#"
                class="border-2 border-white w-40 h-10 flex items-center justify-center"
                >HOW WE WORK</a
            >
            <img
                src="/images/bg-pattern-how-we-work-mobile.svg"
                alt=""
                class="absolute top-0 right-0"
            />
        </div>
    </div>
</section>
